header {
    background-color: #FFFFFD;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

header ul {
    display: flex;
}

header ul a {
    display: grid;
    padding: 20px 10px;
    width: 100%;
    cursor: pointer;
    place-items: center;
    place-content: center;
    text-align: center;
    font-size: 0.9rem;
}

header ul a:active {
    background-color: #e0e0e0;
}

header ul li a {
    color: #390240;
}

@media (min-width: 1000px) {
    header {
        position: relative;
        top: 0;
    }
}