header {
    background-color: #FFFFFD;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header ul {
    display: flex;
}

header ul li {
    display: grid;
    padding: 20px 10px;
    width: 100%;
    cursor: pointer;
    place-items: center;
    place-content: center;
    text-align: center;
    font-size: 0.9rem;
}

header ul li:active {
    background-color: #e0e0e0;
}