.shopping-bag {
    background-color: #FFFFFD;
    display: flex;
    position: sticky;
    top:0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: #390240;
}

.shopping-bag .price {
    width: 100px;
    text-align: center;
}

@media (min-width: 1000px) {

    .shopping-bag {
        width: 800px;
        justify-content: space-between;
        padding: 5px 20px; 
        cursor: pointer;
        border-radius: 1.5px;
        position: sticky;
        top:0;
    }

}
